/* ----------Google Fonts Added---------- */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* font-family: "Manrope", sans-serif; */

/* ----------Tailwind CSS Imported---------- */
@import "tailwindcss";

/* ----------Customs Styles Added---------- */
@theme {
  --font-primary: "Manrope", sans-serif;
  --color-primary: #1c1c1c;
  --color-secondary: #777777;
  --color-tertiary: #494949;
}
